{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="ms-2">Créer un compte</h1>
<div class="container-fluid">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-primary" type="submit" class="btn">Inscription</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
