{% extends 'base.html.twig' %}

{% block title %}Liste des franchises{% endblock %}

{% block body %}
    <h1 class="ms-3">Liste des franchises</h1>
<div class="d-flex justify-content-center flex-wrap">

{% for franchise in franchises %}
	<div class="card me-3 mt-3" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{{ franchise.name }}</h5>
			<h6 class="card-subtitle mb-2 text-muted">Permission globale</h6>
			<p class="card-text">{{ franchise.sellDrink ? 'Vente de boissons activé' : 'Vente de boissons activé' }}</p>
			<div class="d-flex justify-content-between">
			<a class="btn btn-primary" href="{{ path('app_admin_franchise_show', {'id': franchise.id}) }}">Voir les structures</a>
			<a class="btn btn-info" href="{{ path('app_admin_franchise_edit', {'id': franchise.id}) }}">edit</a>
			</div>
		</div>
	</div>
{% endfor %}
</div>
<a class="btn btn-primary ms-2 mt-4" href="{{ path('app_admin_franchise_new') }}">Ajouter un partenaire</a>

{% endblock %}
