{% extends 'base.html.twig' %}

{% block title %}Liste des structures{% endblock %}

{% block body %}
    <h1 class="ms-3">Liste des structures</h1>
        <div class="d-flex justify-content-center flex-wrap">
     {% for structure in franchise.structure %}
     <div class="card mt-4 me-4" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ structure.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ structure.address }}</h6>
            <p class="card-text">{{ franchise.sellDrink ? 'Vente de boissons activé' : 'Vente de boissons désactivé' }}</p>
            <p class="card-text">{{ franchise.mailing ? 'Faire son mailing activé' : 'Faire son mainling désactivé' }}</p>
            <p class="card-text">{{ franchise.promotionSalle ? 'Promption de la salle activé' : 'Promotion de la salle désactivé' }}</p>
            <p class="card-text">{{ franchise.teamPlanning ? 'Gérer le planning d\'équipe activé' : 'Gérer le planning d\'équipe désactivé' }}</p>
            <a class="btn btn-info" href="{{ path('app_admin_structure_edit', {'id': structure.id}) }}">edit</a>
        </div>
        </div>
            {% endfor %}
            </div>
    <a class="btn btn-primary mt-4 me-2 ms-2" href="{{ path('app_admin_structure_new') }}">Ajouter une structure</a>
    <a class="btn btn-info mt-4" href="{{ path('app_admin_franchise_index') }}">Retour</a>
{% endblock %}
