{% extends 'base.html.twig' %}

{% block title %}Ajouter une structure{% endblock %}

{% block body %}
    <h1 class="ms-3">Ajouter une structure</h1>

<div class="container-fluid">

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
	<a class="btn btn-info" href="{{ path('app_admin_franchise_index') }}">Retour</a>
	{{ form_end(form) }}
</div>

{% endblock %}
